* {
  margin: 0px;
  padding: 0px;

}

.header1 {
  text-align: center;
  padding: 18px;
  background-color: #FCFAFA;
}
.logoBox{
  display:flex;
  width:112px;
  height:36px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.logo1 {
  width: 56px;
}

.logo2 {
  width:43px;
}

.instruction {
  font-size: 18px;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 16px;
  width: 471px;
  color: #4C4B49;
  margin: auto;
}

.start_Atag {
  width: 149px;
  text-align: center;
  text-decoration: none;
  color: #1F1E1C;
  font-size: 18px;
  font-weight: 400;
}

.StartDiv {
  text-align: center;
  margin: auto;
  width: 159px;
  padding: 16px 0;
  border-radius: 4px;
  border: 2px solid #F4D150;
  background: #FEEEB4;
  box-shadow: 0px 4px 7px 0px #B3AE9C;
  margin-top: 39px;
}

h1 {
  text-align: center;
  margin-bottom: 19px;
  color: #4C4B49;
  font-size: 24px;
  font-weight: 600;
}

.instructions {
  background: #F9F7F2;
  width: 100%;
  width: 705px;
  margin: auto;
  padding-bottom: 49px;
}

.main-box {
  padding-bottom: 8px;
  color: #4C4B49;
  font-size: 14px;

  padding-left: 21px;
  font-family: Inter;
  line-height: 150%;
}

.paragraph1,
.paragraph2,
.paragraph3 {
  margin: auto;
  color: #4C4B49;
  font-size: 14px;
  line-height: 150%;
  padding-bottom: 8px;
}

.instructions hr {
  width: 620px;
  color: #4C4B49;
  margin: auto;
}


.footer {
  text-align: center;
  color: #F9F7F2;
  background-color: #4C4B49;
  padding-top: 46px;
  padding-bottom: 68px;
  width: 100%;
}

.text {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 700;
}

.text1 {
  font-size: 14px;
}


.allMainContent {
  width: 471px;
  margin: auto;
  padding-bottom: 40px;
}

.maincontentBox {
  padding-top: 55px;
  background-color: #EBE9E6;
  width: 100%;
  padding-bottom: 147px;
}

@media screen and (max-width: 576px) {
  .maincontentBox {
    padding-bottom: 80px;
    width:100%;
  }
  
  .instructions{
    width: 320px;
  }
  .instruction{
    width:100%;
    text-align: center;
  }
  .allMainContent{
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;

  }
  .paragraph1{
    margin-left: 20px;
    margin-right: 20px;
  }
  .paragraph2{
    margin-left: 20px;
    margin-right: 20px;
  }
  .paragraph3{
    margin-left: 20px;
    margin-right: 20px;
  }
  .main-box{
    margin-left: 20px;
    margin-right: 20px;
  }


  h1{
    width:100%;
  }

  .instructions hr {
    width:280px;
    margin:52px 20px 20px 20px ;
  }
  .footer {
    width: 100%;
  }
 
}