* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.SubmitAtag {
  text-decoration: none;
  color: #1F1E1C;
  font-size: 18px;
}

.ButtonDiv {
  padding: 16px 35px;
  border-radius: 4px;
  border: 2px solid #F4D150;
  background: #FEEEB4;
  margin-top: 8px;
  margin-bottom: 8px;
  box-shadow: 0px 4px 7px 0px #B3AE9C;
}

.HeaderContainer {
  width: 100%;
  background-color: #FCFAFA;
}

.AssessmentHeader1 {
  width: 1200px;
  background-color: #FCFAFA;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.AssessmentContainer {
  background-color: #EBE9E6;
  padding-bottom: 107px;
  width: 100%;
}

.NaviglogoDiv {
  align-items: center;
  width: 997px;
  display: flex;
  justify-content: space-between;
}



.LogoContainer {
  width: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.PaginationContainer {
  display: flex;
  gap: 16px;
}

.logoOne {
  width: 56px;
}

.logoTwo {
  width:43px;

}
.Pagination {
  width: 30px;
  height: 30px;
  line-height: 28px;
  border-radius: 30px;
  border: 2px solid #E0DFDA;
  text-align: center;
}

.Paginations {
  width: 30px;
  height: 30px;
  line-height: 28px;
  border-radius: 30px;
  border: 2px solid #E0DFDA;
  text-align: center;
}

.Pagination5 {
  width: 30px;
  height: 30px;
  line-height: 28px;
  border-radius: 30px;
  border: 2px solid #E0DFDA;
  text-align: center;
}

.Pagination1 {
  width: 30px;
  height: 30px;
  line-height: 28px;
  border-radius: 30px;
  border: 1px solid #4C4B49;
  text-align: center;
  background-color: #4C4B49;
  color: #FCFAFA;
}

.RightArrow {


  border-radius: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  border: 1px solid , #F4D150;
  background:  #FEEEB4;


}

.LeftArrow {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  border-radius: 30px;
  background-color: #EBE9E6;

}

.hr {
  border: 2px solid black;
  height: 6px;
  background: black;
  margin: 10px 0;
  width: 100%;
}


.ExamContiner1 {
  width: 900px;
  margin: auto;
}

.QuesDisplayContainer {
  width: 560px;
  margin-bottom: 40px;

}

.ExamContainer1 {
  width: 894px;
  display: flex;
  justify-content: space-between;
  margin-right: 203px;
  margin-left: 103px;
}

.QuestionsContainer {
  width: 560px;
  margin-top: 66px;
}

.FilterTimeContainer {
  width: 284px;
  bottom: 47px;
  position: relative;
}

.FilterContainer {
  width: 284px;
  height: 375px;
  padding: 36px 39px 79.4px 48px;
  background: #F9F7F2;
  margin-top: 20px;
  border-radius: 12px;
  border: 1px dashed black;
}

.FilterText {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 36px;
}

.FilterHeader {
  width: 197px;
}

.FilterText {
  color: #4C4B49;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 36px;
}

.QuestionScoreDiv {
  color: #1F1E1C;
  margin-bottom: 16px;
}

.QuestionScoresDiv {
  width: 196px;
}

.FilterGroupButtons {
  margin-bottom: 48px;
  display: flex;
  gap: 10px;
  height: 42px;
}

.FilterButtonAll {
  padding: 10px 10px;
  border-radius: 4px;
  background: #4C4B49;
  color: #F9F7F2;
  font-weight: 600;
  border: 1px solid #4C4B49;
}

.FilterButton {
  padding: 10px 12px;
  border-radius: 4px;
  font-weight: 600;
  border: 1px solid #F4D150;
  background: #FEEEB4;
}

.TimerContainer {
  width: 152px;
  margin: auto;

}

.RemainingTimeText {
  margin: auto;
  margin-top: 10px;
  color: #1F1E1C;
  font-weight: 600;
  text-align: center;

}

.CircularTimer {

  width: 141px;
  ;
  height: 141px;
  border-radius: 50%;
  
  align-items: center;
  display: flex;
  justify-content: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: conic-gradient(from -55deg, #E68086 0% 15%, #EBE9E6 15% 100%);





}





.TimeDisplay {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background-color: #FCFAFA;
  display: flex;
  align-items: center;
}

.MinSecDiv {
  width: 74px;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.MinutesDiv {

  width: 32px;


}

.NumOfMin {
  width: 32px;
  height: 29px;
  text-align: center;
  color: #E68086;
  font-size: 24px;
  font-weight: 600;
}

.MinTextDiv {
  margin-top: 6px;
  color: #1F1E1C;
}

.SecondDiv {
  width: 30px;
}

.NumOfSecond {
  width: 30px;
  height: 29px;
  text-align: center;
  color: #E68086;
  font-size: 24px;
  font-weight: 600;
}

.SecondTextDiv {

  margin-top: 6px;
  color: v#1F1E1C;

}

.DotDiv {
  display: none;
}



.ExamContainer {
  width: 1200px;
  margin: auto;
}

.QuestionDiv {
  width: 85px;
color:#1F1E1C;
font-family: "Inria Sans";
font-size: 16px;
font-weight: 700;
}

.ScoreDiv {
  width: 70px;
  color: #1F1E1C;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
}

.QuesPlusScoreDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.paraMcqDiv {
  padding: 40px 40px 28px 40px;
  background: #F9F7F2;
  border-radius: 12px;

}

.paragraph {
 margin-bottom: 28px;
  font-size: 14px;
  color:  #1F1E1C;
  font-weight: 600;
  line-height: 160%;  
  
}

.inputOptionDiv {
  margin-bottom: 15px;
}

.container {
  display: flex;
  align-items: center;
}

.input {
  margin-right: 10px;
  
}

.option {
  line-height: 150%;
  font-size:14px;
  font-weight:400px;
  color: #4C4B49;
}

.QuestionStatusFilter {
  width: 200px;
}

.StatusFilterText {
  margin-bottom: 16px;
  color: #1F1E1C;
  color: var(--Dark-a, #1F1E1C);
}

.AllFilterStatus {
  padding: 6px 8px;
  border-radius: 54px;
  text-align: center;
  color: white;
  background: var(--Dark-b, #4C4B49);
}

.AllplusAttemptDiv {
  display: flex;
  width: 200px;
  margin-bottom: 6px;
}

.AttemptedFilterStatus {
  padding: 5px 8px;
  border-radius: 54px;
  background-color: #FEEEB4;
  border: 1px solid #F4D150;
  margin-left: 6px;
  text-align: center;
  color: #1F1E1C;

}

.UnattemptedDiv {
  width: 160px;
  padding: 6px 12px;
  border-radius: 20px;
  background: #FEEEB4;
  color: #1F1E1C;
  text-align: center;


}

.FilterTextContainer {
  display: none;
}

.TimerColon{
  width:6px;
  text-align: center;
 
}

@media only screen and (max-width: 576px) {
  .AssessmentHeader1 {
    width: 100%;
  }

  .PaginationContainer {

    border-top: 2px solid gainsboro;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 22px;
    padding-bottom: 24px;
    gap: 26px;

  }
  

  .DotDiv {
    display: block;
    width: 15px;
    height: 30px;
    text-align: center;
  }


  .NaviglogoDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 3px;

  }

  .LogoContainer {
    margin-top: 20px;
    margin-bottom: 18px;
  }

  .Pagination1 {
    background-color: white;
    border: 2px solid #E0DFDA;
    color: #1F1E1C;
  }

  .Paginations {
    display: none;
  }

  .Pagination5 {
    border-radius: 30px;
    border: 1px solid #4C4B49;
    background: #4C4B49;
    color: #FCFAFA;
  }

  .LeftArrow {
    border-radius: 40px;
    border: 1px solid #F4D150;
    background: #FEEEB4;
  }


  .QuesDisplayContainer {
    width: 100%;
    margin: 0px;
  }

  .ExamContainer {
    width: 100%;
  }

  .ExamContainer1 {
    width: 100%;
    margin: 0px;
    margin: auto;
    display: flex;
    flex-direction: column;

  }

  .FilterContainer {
    display: none;
  }



  .AssessmentContainer {
    width: 100%;
    padding-bottom: 219px;
  }


  .ExamContainer {
    width: 100%;
  }

  .QuesDisplayContainer {
    margin-bottom: 40px;
  }

  .QuestionsContainer {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
  }

  .FilterTimeContainer {
    width: 100%;
    padding-left: 19px;
    padding-right: 19px;
    margin-top: 23px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;

  }

  .RemainingTimeText {
    display: none;
  }

  .TimerContainer {
    margin: 0px;
  }

  .FilterTextContainer {
    display: block;
    width: 104px;
    height: 39px;
  }

  .ButtonDiv {
    position: fixed;
    top: 796px;
    right: 19px;
    border-radius: 4px;
    background-color: #FEEEB4;
    border: solid 2px #F4D150;
    padding: 16px 35px;
  }
  .TimerContainer{
    width:102px;
  }
.CircularTimer{
  width:100px;
  height:100px;
  border-radius: 50%;
}
.TimeDisplay {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #FCFAFA;
  display: flex;
  align-items: center;
}
.MinSecDiv {
  width: 60px;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.MinutesDiv {
  width: 26px;
}
.SecondDiv {
  width: 26px;
}
.NumOfMin {
  width: 24px;
  height: 22px;
  text-align: center;
  color: #E68086;
  font-size: 18px;
}
.NumOfSecond {
  width: 24px;
  height: 22px;
  text-align: center;
  color: #E68086;
  font-size: 18px;


}

.TimerColon{
width:6px;
color: #E68086;
font-size: 18px; 
font-weight: 500;
}
.MinTextDiv {
  margin-top: 6px;
  color: #1F1E1C;
  font-size: 12px;
  font-weight: 500;
 
}
.SecondTextDiv {
  margin-top: 6px;
  color:  #1F1E1C;
  font-size: 12px;
  font-weight: 500;
}

.paragraph {
  color: var(--Dark-a, #1F1E1C);

  /* tx bold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 22.4px */  
  
}
.paraMcqDiv{

  width: 320px;
  margin:auto;
  padding:40px 30px;
  margin-top:20px;

}

}
